
@* Umbraco uses Razor for its pages; page.cshtml *@

@*
Installation: 
  1. Create project
  2. nuget console or nuget store --> Install-Package UmbracoCms
  2. or download umbraco on site and launch solution on Visual studio
  3. Run to create umbraco solution and log in (whatever you like, but remember it)
  4. Use SQL CE if no DB provided
  5. Use no template
  6. activate https --> SSL field to true in web.config

Content:
  Defined by a content type
  Publish/Unpublish

Media:
  Used for images

Settings:
  Document types: create pages (metadata, content)
  Templates: renders the content of the pages
  Partials views: parts of pages reused in a lot of places
  Languages: manages a multi-language site
  Dictionary: store word in different languages
  Media types: img settings

Developers:
  Packages: find leblender, robots.txt, etc.
  Data types: textbox, image uploader, etc. to use in document types
  Macros: create parts to integrate later (better to use partials)

Users:
  People accessing the backend via site.com/umbraco
  They are part of user groups that define their permissions

Members:
  People accessing the frontend via site.com/login
  They are part of member group that define their page access

Create pages:
  1. Create document type (check permission to set as root or set children)
  2. Create content (click on the dots)
  3. to display content, use a template (and link it via doc type)
*@

@* great intro to razot --> https://weblogs.asp.net/scottgu/introducing-razor *@


@{
  Umbraco.Web.Mvc.UmbracoTemplatePage
  Umbraco.Web.Mvc.UmbracoTemplatePage<Model>

  Umbraco.Web.Mvc.UmbracoViewPage
  Umbraco.Web.Mvc.UmbracoViewPage<Model>

  UmbracoApplication
  UmbracoContext
  UmbracoHelper
}


@* Comments *@
@{
  // comments in statement block 
  /*
    multi line comments in statement block
  */
}


@* Variables *@
@{
  var myNumber = 19;
  <p>My number is @myNumber</p>
}


@* Conditional *@
@{
  var howMuch = 19;
  if(howMuch > 19) {
    // do something
  }else if(howMuch < 19) {
    // do something else
  }else{
    // do something else else
  }
}


@* Loop *@
@{
  foreach(var item in itemList)
  {
    <p>item</p>
  }
}


@DateTime.Now.Year;
@DateTime.Now.Month;
@DateTime.Now.Day;

@* will implement the partial inheriting from current template *@
@RenderBody();

@* displays text without html tags *@
@Html.Raw("<p>Simple sentence.</p>");

@Html.Partial("nameOfTheFile", ...);

@Html.Action("nameOfAction", "nameOfController");

@using (Html.BeginUmbracoForm<App.LoginForm>("Login")) {}

@Html.LabelFor(m->m.Login);
@Html.EditorFor(m->m.Login);

@Html.RequiresCss("/path");
@Html.RenderCssHere();

@anyString.Replace(" ", "-");

@Umbraco.GetDictionnaryValue("ValueName");

@* truncates to 10 characters, and add ellipsis because true *@
@Umbraco.Truncate("I wish I was a tweet, at least then I get 140 chars", 10, true);

@* subpage listing from current page *@
@{
  foreach (var subPage in Model.Content.Children.Where(x => x.DocumentTypeAlias == "page")) 
  {
    <a href="@subPage.Url">@subPage.Name</a>
  }
}

@* subpage listing from root *@
@{
  <ul>
    @* needs true/false umbracoNaviHide to filter visible page; change documenttypealias to your own naming *@
    @foreach (var page in Model.Content.AncestorOrSelf(1).Children.Where("Visible").Where(x => x.DocumentTypeAlias == "page"))
    {
      <li><a href="@page.Url">@page.Name</a></li>
    }
  </ul>
}

@* get list of links from related links *@
@using Umbraco.Web.Models
@{
    var navigation = Umbraco.TypedContentSingleAtXPath("//navigationSettings");
    var typedRelatedLinksConverted = navigation.GetPropertyValue<RelatedLinks>("footerLinks");

    if (typedRelatedLinksConverted.Any())
    {
        <ul>
            @foreach (var item in typedRelatedLinksConverted)
            {
                var linkTarget = (item.NewWindow) ? "_blank" : null;
                <li><a href="@item.Link" target="@linkTarget">@item.Caption</a></li>
            }
        </ul>
    }
}

@* get current page name *@
@Model.Content.Name;

@* get current page url *@
@Model.Content.Url;

@* get current page name from partial *@
@Model.Content.GetPropertyValue("alias");

@* check if alias has value; usefull to check if RTE have content or not *@
@Model.Content.HasValue("alias");

@* get site name from global settings *@
@Umbraco.TypedContentSingleAtXPath("//globalSettings").GetPropertyValue("websiteName");

@* get each item from a checkbox list *@
@{
  foreach(var item in Model.Content.GetPropertyValue<IEnumerable<string>>("alias"))
  { 
    item;
  }
}

@* get item from dropdown list *@
@{
  if (Model.Content.HasValue("category"))
  {
    var dropdownValue = Model.Content.GetPropertyValue<string>("category");
  }
}

@* get yes/no value *@
@Model.Content.GetPropertyValue<bool>("alias");

@* get an image *@
@{
  var image = Model.Content.GetPropertyValue<IPublishedContent>("alias");
  if (image != null)
  {
    var imageUrl = image.Url;
    <img src="@imageUrl" alt="">
    <!-- use cropping; first argument is element and second is crop alias -->
    <img src="@Url.GetCropUrl(image, "cropAlias")" alt="">
  }
}


@* get content from a list *@
@{
  List<IPublishedContent> allItems = Model.Content.GetPropertyValue<List<IPublishedContent>>("alias");
}

@* go through the list *@
@if (allItems != null && allItems.Count > 0) 
{
  foreach (IPublishedContent singleItem in allItems) 
  {
    if (singleItem != null)
    {
      var link = singleItem.Url;
      var date = singleItem.GetPropertyValue<DateTime>("alias").ToString("dd.MM.yyyy");
    }
  }
}

@* check that a string isn't empty *@
@if (!string.IsNullOrWhiteSpace(stringName))
{
  <p>@stringName</p>
}

@* use dictionnary for multiple languages *@
@umbraco.library.GetDictionaryItem("Name of the dictionary item")


// escape razor @ by adding another @ in front
@@media only screen and (min-wdith: 768px) {}


@* content picker element *@
@{
  IPublishedContent item = Model.Content.GetPropertyValue<IPublishedContent>("alias");
  if (item != null)
  {
    <a href="@item.Url">
      <p>@item.Name</p>
    </a>
  }
}

@* go through multi node tree picker *@
@{
    var typedMultiNodeTreePicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("alias");
    foreach (var item in typedMultiNodeTreePicker)
    {
        <p>@item.Name</p>
    }
}
